version: '3'

services:
  astro:
    image: node:20
    command: sh -c "npm install && npm run dev -- --host"
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
