---
import PageLayout from '../layouts/PageLayout.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<PageLayout title="About">
  <h1 class="text-3xl font-bold mb-4">$ whois treymack</h1>

  <p class="mb-4">{SITE_DESCRIPTION}</p>

  <p class="mb-4">Oxford comma fan.</p>

  <p class="mb-4">Strong opinions, weakly held.</p>

  <p>Neil deGrasse Tyson.</p>
</PageLayout>
